 <div class="user-details">
  <h1> This is me </h1>
  <p> living and tinkering in Hamburg. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data</h2>
      <i class="icon fa fa-line-chart"></i>
      <i class="icon fa fa-bolt"></i>
      <i class="icon fa fa-users"></i>
      <p> Analysis of different sets of structured and unstructured data. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <img src="https://www.r-project.org/Rlogo.png" alt="" width="60">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Matlab_Logo.png/667px-Matlab_Logo.png" alt="" width="60">
      <p> Based on the most powerfull libraries available for data science. </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-amazonwebservices-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p> Using established software and state of the art technology. </p>
    </div>
</div>
