<div id="particles-js">
  <div class="header">
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
      <div class="header-icons">
        <a aria-label="github" target="_blank" href="{{site.github_url}}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="linkedin" target="_blank" href="{{site.linkedin_url}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="xing" target="_blank" href="{{site.xing_url}}"><i class="icon fa fa-xing" aria-hidden="true"></i></a>
        <a aria-label="twitter" target="_black" href="{{site.twitter_url}}"><i class="icon fa fa-twitter"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
<!--    <a class="link" href="#projects" data-scroll>Projects</a>  -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
